<div class="carousel-container">
    <i class="fa fa-arrow-circle-right" aria-hidden="true" id="nextBtn"></i>
    <i class="fa fa-arrow-circle-left" aria-hidden="true" id="prevBtn"></i>
    <div class="carousel-slide">
      <img src="https://picsum.photos/id/18/1440/550" id="lastClone" alt="">
      <img src="https://picsum.photos/id/15/1440/500" alt="Imagen 1">
      <img src="https://picsum.photos/id/16/1440/500" alt="Imagen 2">
      <img src="https://picsum.photos/id/17/1440/500" alt="Imagen 3">
      <img src="https://picsum.photos/id/18/1440/500" alt="Imagen 4">
      <img src="https://picsum.photos/id/15/1440/500" id="firstClone" alt="">
    </div>
  </div>