<div class="form-content">
    <h1 class="form-title">Contact <span>Us</span> </h1>
    <div class="contact-wrapper">
      <div class="contact-form">
        <h3>Contactenos</h3>
        <form action="">
          <p>
            <label>Nombre Completo</label>
            <input type="text">
          </p>
          <p>
            <label>Direccion de correo</label>
            <input type="email">
          </p>
          <p>
            <label>Telefono</label>
            <input type="tel">
          </p>
          <p>
            <label>Asunto</label>
            <input type="text">
          </p>
          <p class="block">
            <label>Mensaje</label>
            <textarea name="message" rows="3"></textarea>
          </p>
          <p class="block">
            <button type="submit">
              Enviar
            </button>
          </p>

        </form>
      </div>
      <div class="contact-info">
        <h4>Mas informacion</h4>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> Calle Palermo.</li>
          <li><i class="fas fa-phone"></i> 504-3183-5690</li>
          <li><i class="fas fa-envelope-open-text"></i> guerrerohtrujillo@gmail.com.com</li>
        </ul>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus adipisci id dignissimos sequi
          laboriosam? Ducimus tempore quidem nemo magnam tempora!
        </p>
        <p>company.com</p>
      </div>
    </div>
  </div>