<footer>
    <div class="footer-container">
        <div class="footer-column">
            <img src="https://serna.gob.hn/wp-content/uploads/elementor/thumbs/logo-serna-en-blanco-1-qf0lkdc58wverhlyjscijc66vt5z0z1w1e0h1h0mww.png"
                title="logo-serna-en-blanco" alt="logo-serna-en-blanco" loading="lazy">
        </div>
        <div class="footer-column">
            <h3>Contacto</h3>
            <p>Direccion: <br> Despacho de Recursos Naturales y Ambiente 100 metros al Sur del Estadio Nacional.
                Tegucigalpa M.D.C., Honduras, C.A.</p>
            <p>Horario: 9:00 am- 4:00 pm.</p>
            <p>Telefono: Tel: (+504) 2232-9200</p>
        </div>
        <div class="footer-column">
            <h3>Nosotros</h3>
            <ul>
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Organigrama</a></li>
                <li><a href="#">Oportunidades</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Direcciones</h3>
            <ul>
                <li><a href="#">CESCCO</a></li>
                <li><a href="#">UTOH</a></li>
                <li><a href="#">DIBIO</a></li>
                <li><a href="#">DGRH</a></li>
                <li><a href="#">DECA</a></li>
                <li><a href="#">DNCC</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Regionales</h3>
            <ul>
                <li><a href="#">Copan</a></li>
                <li><a href="#">Comayagua</a></li>
                <li><a href="#">Atlantida</a></li>
                <li><a href="#">Roatan</a></li>
                <li><a href="#">Choluteca</a></li>
                <li><a href="#">San Pedro Sula</a></li>
                <li><a href="#">Ocotepeque</a></li>
                <li><a href="#">Olancho </a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Redes Sociales</h3>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>Secretaria de Recursos Naturales y Ambiente. </p>
        <p>2025 &copy; Todos los derechos reservados. </p>
    </div>
</footer>