<div class="hero-container">
    <!-- Video Background -->
    <video class="video-background" autoplay muted loop>
      <source src="./src/resources/VideoPanel.MOV" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <!-- Blur Card Content -->
    <div class="blur-card">
      <h1>Nuestros Logros 2025</h1>
      <p>La vida comienza en las montañas, en los rios y en los bosques.</p>
      <a href="#" class="btn">¡Conoce Mas!</a>
    </div>
  </div>